# Environment variables for the backend application
# Rename this file to .env and update the values as needed

DB_NAME= 
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
PORT=
JWT_SECRET=
ADMIN_USERNAME = 
ADMIN_EMAIL = 
ADMIN_PASSWORD_RAW = 
